build
.vscode
.pyc
.ktx
*.blend
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
__pycache__
.ini
*.convex.*
imgui.ini
.mypy_cache
.DS_Store
/.idea
/log
/videos/
/robots/shadow_hand/meshes/visual/original_dae/
/figures/
/robots/hands/inspire_hand/inspire_hand_opencad/
/robots/arms/rm75/opencad/
